[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
pytest = "*"
django-mock-queries = "*"

[packages]
djangorestframework = "==3.*"
json-ext-encoder = "==0.2.0"

[requires]
python_version = "3.7"
