[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
django = "==2.2.10"
djangorestframework = "==3.9.4"

[requires]
python_version = "3.7"
